In [3]:
import pandas as pd
school_df = pd.read_csv('./data/fixed_effects/school_data.csv', on_bad_lines='skip')
school_df

,Agency Name,State Name [District] Latest available year,County Name [District] 2022-23,County Name [District] 2021-22,County Name [District] 2020-21,County Name [District] 2019-20,County Name [District] 2018-19,County Name [District] 2017-18,County Name [District] 2016-17,County Name [District] 2015-16,...,Total Number Operational Schools [Public School] 2020-21,Total Number Operational Schools [Public School] 2019-20,Total Number Operational Schools [Public School] 2018-19,Total Number Operational Schools [Public School] 2017-18,Total Number Operational Schools [Public School] 2016-17,Total Number Operational Schools [Public School] 2015-16,Total Number Operational Schools [Public School] 2014-15,Total Number Operational Schools [Public School] 2013-14,Total Number Operational Schools [Public School] 2012-13,Total Number Operational Schools [Public School] 2011-12
0,A W BROWN LEADERSHIP ACADEMY,Texas,Dallas County,Dallas County,Dallas County,Dallas County,Dallas County,Dallas County,Dallas County,Dallas County,...,2,2,2,2,2,2,2,2,2,2
1,A+ ACADEMY,Texas,Dallas County,Dallas County,Dallas County,Dallas County,Dallas County,Dallas County,Dallas County,Dallas County,...,2,2,2,2,1,1,1,1,1,1
2,A+ UNLIMITED POTENTIAL,TEXAS,Harris County,Harris County,Harris County,Harris County,Harris County,Harris County,Harris County,Harris County,...,1,2,2,2,2,0,†,†,†,†
3,ABBOTT ISD,Texas,Hill County,Hill County,Hill County,Hill County,Hill County,Hill County,Hill County,Hill County,...,1,1,1,1,1,1,1,1,1,1
4,ABC UNIFIED,California,Los Angeles County,Los Angeles County,Los Angeles County,Los Angeles County,Los Angeles County,Los Angeles County,Los Angeles County,Los Angeles County,...,30,30,30,30,30,30,30,30,30,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3684,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3686,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3687,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3688,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(school_df[school_df["County Name [District] 2022-23"] == "Travis County"])

38

In [12]:
len(school_df[school_df["County Name [District] 2022-23"] == "Santa Clara County"])

85

In [13]:
len(school_df[school_df["County Name [District] 2022-23"] == "San Mateo County"])

38

In [14]:
len(school_df[school_df["County Name [District] 2022-23"] == "Fresno County"])

62